p {
  font-size: .8em;
  color: rgb(36, 36, 82);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text {
  font-size: 16px;
  color: rgb(36, 36, 82);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}