.specification {
  display: inline-flex;
  /* Alinea el ícono y el contenido en línea */
  align-items: center;
  /* Centra verticalmente los elementos */
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Aplica estilos a los elementos img y svg*/
.specification img,
.specification svg {
  width: 20px;
  /* Ancho fijo para los íconos */
  height: 20px;
  /* Altura fija para los íconos */
  margin-right: 5px;
  /* Espacio a la derecha del ícono */

}