/*src/componentes/atomos/button ----- estilos */

.custom-button {
  background-color: rgb(158, 231, 231);
  color: rgb(36, 36, 82);
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  font-size: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: background-color 0.3s ease;

}

.custom-button:hover {
  background-color: rgb(36, 36, 82);
  color: rgb(158, 231, 231);
}