.login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 50px auto;
  gap: 16px;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(90deg, #03FFE1 0%, #FF02F0 100%);
  border-radius: 20px;
  padding: 20px;
  background-color: transparent;
  /* Para hacer el degradado elimino el color de fondo */
  background-image: linear-gradient(to right, #fff 10%, transparent);
  /* Aplico el degradado */
}

.login-form label {
  width: 350px;
  margin-bottom: 8px;
  font-weight: bold;
}

.login-form input {
  width: 350px;
  padding: 8px;
  font-size: 16px;
}

.login-form button {
  margin-top: 16px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}