.dropdown {
  position: relative;
  display: inline-block;
  width: 200px;
  /* Puedes ajustar este valor según sea necesario */
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #92F9ED 40%;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20px;
}

.dropdown-item {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-item:hover,
.dropdown-item.selected {
  background-color: #FF02F0;
  color: #fff;
}

.dropdown>button {
  width: 100%;
  border-radius: 20px;
  /* Redondear bordes superior */
}

.dropdown>button:hover {
  border-radius: 20px 20px 20px 20px;
  /* Mantener redondez al hacer hover */
}