.footerBar {
  text-align: center;
  padding: 4px;
  margin: 10px;
  background-color: transparent;
  border-top: 1px solid #03FFE1;
  font-size: .8em;
}

.footerBar.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footerBar p {
  margin: 10px;
  opacity: .6;
}