.searchBar {
  display: flex;
  align-items: center;
  gap: 8px;
  /* Espacio entre el input y el botón */
}

.searchBar input {
  flex-grow: 1;
  /* Hace que el input ocupe el espacio disponible */
}