/* src/componentes/Atomos/Button.css */
.button {
  --accent-color: rgb(158, 231, 231);
  background-color: var(--accent-color);
  color: rgb(36, 36, 82);
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.button:hover {
  background-color: rgb(36, 36, 82);
  color: rgb(158, 231, 231);
}

.primary {
  background-color: var(--accent-color);
}

.secondary {
  background-color: transparent;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.tertiary {
  background-color: var(--accent-color);
  border: 2px dashed rgb(36, 36, 82);
}

.button img {
  max-width: 100%;
  max-height: 100%;
}