/* src/componentes/Atomos/Button.css */
.button {
  --accent-color: #03FFE1;
  background-color: var(--accent-color);
  color: rgb(36, 36, 82);
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.button:hover {
  background-color: #92F9ED;
  color: #fff;
}

.primary {
  background-color: var(--accent-color);
}

.secondary {
  background-color: transparent;
  border: 1px solid #92F9ED 40%;
  color: #fff;
}

.tertiary {
  background-color: #FF02F0;
  border: 2px #FF02F0;
}

.button img {
  max-width: 100%;
  max-height: 100%;
}